*{
    margin: 0;
    padding: 0;
}

.blog-post-section{
    margin: 50px;
    margin-bottom: 25px;
}

  /* START OF MAIN  */
  .blog-page-main{
      height: 160vh;
      background-image: url("../images/images/bg-body.jpg");
      display: flex;
      justify-content: center;
  }

        /* START BIGBOX  */
        main  .bigbox{
          height: 100vh;
          width: 50%;
          /* background-color:s aqua; */
          margin-top: 50px;
      }

      .bigbox   .heading{
          font-size: larger;
          text-decoration: none;
          font-weight: bolder;
          color: black;
      }
      h5{
        margin-top: 5px;
      }
      h5 a{
        text-decoration: none;
        color: orange;
      }
      /* START OF MINI-BOX1   */
            .head1{
              position: absolute;
              top: 225px;
              left: 350px;
            }

            h3{
              color: white;
              position: absolute;
              top: 225px;
              left: 300px;
            }
            .bigbox  .comment{
              position: absolute;
              left: 840px;
              top: 250px;
              text-decoration: none;
              color: orange;
              font-size: large;
            }
            .text{
              margin-top: 20px;
              line-height: 20px;
            }
            .text a{
              text-decoration: none;
              color: blue;
            }
        /* END OF MINI-BOX1 */

        /* STAR OF MINI-BOX2 */
        .bigbox-minibox2{
          height: 10px;
          width: 100%;
          margin-top: 30px;
          /* background-color: aquamarine; */
          background-image: url("../images/images/arrow-gray.png");
          background-repeat: repeat-x ;
        }
        /* END OF MINI-BOX2 */

        /* START OF MINI-BOX3 */
        .head2{
          position: absolute;
          left: 360px;
          bottom: 0px;
        }
        .h3{
          color: white;
          position: absolute;
          left: 305px;
          top: 715px;
        }
        .bigbox  .comment1{
          position: absolute;
          left: 840px;
          bottom: 0px;
          text-decoration: none;
          color: orange;
          font-size: large;
        }
        /* END OF MINI-BOX3 */
        
        /* END BIGBOX  */


        /* START SMALL-BOX */
        main  .smallbox{
          height: 120vh;
          width: 18%;
          background-color:rgba(220, 220, 220, 0.562)  ;
          border: 1px solid gray;
          margin-top: 50px;
          margin-left: 10px;
      }

      .smallbox-minibox1 , .smallbox-minibox2 , .smallbox-minibox3{
        height: 20vh;
        width: 37vh;
        /* background-color: pink  ; */
        /* border: 2px solid black; */
      }
      .smallbox-minibox3{
        height: 25vh;
      }

      .smallbox  h4{
        font-size: larger;
        margin-left: 30px;
        margin-top: 10px;

      }

      .smallbox  p{
        margin-top: 10px;
        font-size: large;
        margin-left: 30px;
      }

      .smallbox  p  a{
        text-decoration: none;
        line-height: 30px;
        color: orange;
      }

      .line{
        border: 1px solid white;
      }

      .grid{
        height: 45vh;
        width: 100%;
        /* background-color: blue; */
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
      }
      
      .gridd{
        margin-top: 10px;
        /* margin-left: 10px; */
        /* height: 11vh; */
        /* width: 50%; */
        /* border: 1px solid black; */
      }
         


        /* END SMALL-BOX */
  /* END OF MAIN  */

  /* START OF END  */
  .end{
    height: 10vh;
    width: 20vw;
    /* background-color: blueviolet; */
    position: absolute;
    top: 1200px;
    left: 800px;
  }

  .end  p , .end  img{
    font-size: larger;
    font-weight: bold;
    display: inline-block;
  }
  .end  img{
    width: 15px;
    height: 15px;
  }
  /* END OF END  */



